{% extends "base.html" %}
{% block title %}Create{% endblock title %}
{% block scripts %}
<script>
    document.querySelector('#create_task').addEventListener('submit', function (e) {
        e.preventDefault();
        const formData = new FormData(this);
        fetch("{% url 'tasks:api_task_list_create' %}", {
            method: "POST",
            body: formData,
        }).then(response => {
            if (response.ok) {
                document.getElementById('errors').innerHTML = `
                <div class="alert alert-success" role="alert">
                    Task created successfully!
                </div>
                `;
            } else {
                response.json().then(data => {
                    // map all errors and update alert
                    document.getElementById('errors').innerHTML = `
                    <div class="alert alert-danger" role="alert">
                        ${Object.keys(data).map(key => data[key].map(message => `<div>${message}</div>`))}
                    </div>`;
                });
            }
        });
    });
</script>
{% endblock scripts %}
{% block content %}

<div class="container my-3 d-flex justify-content-center">
    <div class="row">
        <div class="col-md-12">
            <h1>Create Task</h1>

            <div id="errors"></div>

            <form id="create_task" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}